<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title> Ricettario - {% block title %}{% endblock title %} </title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<script src="https://unpkg.com/feather-icons"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="/"><i data-feather="book" style="width: 20px; "></i> Ricettario</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('home') }}">Home</a>
					  </li>
				</ul>
				<ul class="navbar-nav mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('login') }}">Login</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="{{ url_for('register') }}">Registrati</a>
					  </li>
				</ul>
			</div>
		</div>
	</nav><br>

	<!-- Scorro tutti i messaggi flash di flask e li mostro a seconda della loro categoria -->
	{% with messages = get_flashed_messages(with_categories=True) %}
		{% if messages%}
			{% for category, message in messages %}
				<div class="alert alert-{{ category }}" style="margin-left: 20px; margin-right: 20px;">
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}

	{% block body %}

	{% endblock body %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
	<script>
		feather.replace()
	</script>
</body>
</body>

</html>