{% extends "base.html" %}

{% block title %}

{% endblock title %}

{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col">
			<!-- COL1 -->
		</div>
		<div class="col-6">
			<h1 class="display-6">Titolo ricetta</h1>
			<p class="lead">
				<span class="badge bg-secondary">Primo</span> |
				<!-- TIPO PIATTO -->
				<i data-feather="user" style="width: 17;"></i> ciao ciao |
				<!-- AUTORE -->
				<i data-feather="clock" style="width: 17;"></i> 25 min
				<!-- PREPARAZIONE -->
			</p>
			<p style="font-size: 17px;">
				Per preparare gli spaghetti alla carbonara cominciate mettendo sul fuoco una pentola con l’acqua salata
				per cuocere la pasta. Nel frattempo eliminate la cotenna dal guanciale 1 e tagliatelo prima a fette e
				poi a striscioline spesse circa 1cm 2. La cotenna avanzata potrà essere riutilizzata per insaporire
				altre preparazioni. Versate i pezzetti in una padella antiaderente 3 e rosolate per circa 15 minuti a
				fiamma media, fate attenzione a non bruciarlo altrimenti rilascerà un aroma troppo forte.
			</p>
		</div>
		<div class="col">
			<!-- COL 2 -->
		</div>
	</div>

</div>
{% endblock body %}